{% extends "eshopping/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'eshopping/page_navigator.js' %}"></script>
    <script src="{% static 'eshopping/mouseover_effect.js' %}"></script>
    <script src="{% static 'eshopping/page_content.js' %}"></script>
    <script src="{% static 'eshopping/item_box_content.js' %}"></script>
{% endblock %}
{% block body %}
    <script>
        function pass_selected_category(){
            const temp = document.getElementById('selected_category').value;
            //console.log(`temp: ${temp}`);
            fetch(`/total_page_no_filter/${temp}`)
            .then(response => response.json())
            .then(result=> {
                //console.log(result);
                const tmp = document.getElementsByClassName("total_page_no");
                //console.log(tmp);
                tmp[0].setAttribute("data-total_page_no", result);
                load_grid_items(1,temp);
            });
        };

        document.addEventListener('DOMContentLoaded', function() {
            load_grid_items(1,0);
        });
    </script>
    
    <div class="search" style="padding: 10px; text-align: center;">
        <form action="{% url 'item_search' %}" method="get">
            <h3>Product Search</h3>
            <br>
            <input type="text" name="search_text">
            <input type="submit" value="Search">
        </form>
    </div>

    <div class="category_select" style="padding: 10px; text-align: center;">
        <h3>Category</h3>
        <br>
        <select id = "selected_category" onchange='pass_selected_category()'>
            <option selected disabled>Select Category</option>
            <option value = "0">All</option>
            {% for list in category %}
                <option value="{{list.id}}">{{ list.list }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="item_grid" style="text-align: center;">
        <div hidden class="no_of_box" data-no_of_box="{{ box_no }}"></div>
        {% for i in no_box_range %}
            <div class="item_box" name="{{forloop.counter}}">
            </div>
        {% endfor %}
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <div hidden class="total_page_no" data-total_page_no="{{total_page_no}}"></div>
                <li class="page-item disabled" id="previous_page">
                    <a class="page-link" href="#" aria-label="Previous" aria-disabled="true"><span aria-hidden="true">&laquo;</span></a>
                </li>
                {% with str="1234567" %}
                    {% for n in str %}  
                        <li class="page-item" id="{{n}}th" ></li>
                    {% endfor %}
                {% endwith %}
                <li class="page-item" id="next_page">
                    <a class="page-link" href="?page={{ items.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                </li>
        </ul>
    </nav>
{% endblock %}
