{% extends "eshopping/layout.html" %}
{% load static %}


{% block body %}
<div style="text-align: center; padding: 10px;">
    <form action="{% url 'order_manage' %}" method="get">
        <input hidden name="status_id" value = "0">
        <button class="btn btn-primary" type="submit" >Order Management</button>
    </form>
</div>
<div style="text-align: center; padding: 10px;">
    <button class="btn btn-primary" onclick="location.href='{% url 'stock_manage' %}'">Stock Management</button>
</div>
    

{% endblock%}